@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Akzidens;
        font-weight: 400;
        font-style: normal;
        src: url("/public/fonts/akzidens/AkzidenzGroteskPro-Regular.otf") format('opentype');
    }
    @font-face {
        font-family: Akzidens;
        font-weight: 500;
        font-style: normal;
        src: url("/public/fonts/akzidens/AkzidenzGroteskPro-Md.otf") format('opentype');
    }
    @font-face {
        font-family: Akzidens;
        font-weight: 700;
        font-style: normal;
        src: url("/public/fonts/akzidens/AkzidenzGroteskPro-BoldEx.otf") format('opentype');
    }
    html {
        font-family: Akzidens, Arial, sans-serif;
    }
}

@layer components {
    #app {
        @apply h-screen flex flex-col justify-center items-center text-teal-700 dark:text-white dark:bg-teal-700
    }
    .toggle-theme-box{
        @apply absolute top-6 right-6
    }
    .logo {
        @apply text-2xl md:text-3xl lg:text-6xl xl:text-7xl font-bold
    }
    .logo-sm {
        @apply text-xl
    }
    .btn-primary {
        @apply flex justify-center items-center mt-5 text-2xl xl:text-3xl bg-teal-700
        enabled:hover:bg-teal-900 text-white rounded-lg px-5 py-2 dark:bg-white dark:text-teal-700 disabled:opacity-20 disabled:cursor-not-allowed
    }
    .btn-secondary {
        @apply px-2 py-1 mt-4 border border-black rounded-md dark:bg-white dark:text-teal-700 hover:bg-slate-200 dark:hover:bg-slate-200
    }
    .placeholders-wrapper {
        @apply flex flex-row text-teal-700 dark:text-white
    }
    .letter {
        @apply mx-2 text-4xl font-medium
    }
    .hangman-img {
        @apply w-32 h-32 sm:w-60 sm:h-60
    }
    .keyboard {
        @apply max-w-3xl mt-5 flex justify-center items-center flex-wrap
    }

    .keyboard-btn {
        @apply w-10 h-10 sm:w-14 sm:h-14 m-1 sm:m-2
    }
    .result-header {
        @apply text-2xl font-bold mt-4
    }
    .result-header.win {
        @apply text-lime-600
    }
    .result-header.lose {
        @apply text-red-600
    }
    .result-word {
        @apply font-medium uppercase
    }
}